# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Django-related
*.sqlite3
db.sqlite3
/media/
/staticfiles/
*.log

# Environment variables and configuration files
.env
*.pem
*.crt
*.key

# Docker & Git
.dockerignore
.git
.gitignore

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
